<header>
  <nav>
    <div class="name"><a href="{{ site.baseurl }}/">Stijn van Cuijk</a></div>
    <div class="hamburger">
          <span class="line"></span>
          <span class="line"></span>
          <span class="line"></span>
    </div>
    <div class="fullscreen">
      <a class="{% if page.url == '/' %} active{% endif %} nav-link" hover-effect-text="portfolio" href="{{ site.baseurl }}/">Portfolio</a>
      <a class="{% if page.url == '/about/' %} active{% endif %} nav-link" hover-effect-text="about" href="/about">About</a>
      <a class="{% if page.url == '/contact/' %} active{% endif %} nav-link" hover-effect-text="contact" href="/contact">Contact</a>
    </div>
  </nav>
</header>
<script>


$(".hamburger").click(function(){
  $(this).toggleClass("is-active");
  $(".fullscreen").toggleClass("is-active");
  $("header").toggleClass("fixed");
});

// Hide Header on on scroll down
var didScroll;
var lastScrollTop = 0;
var delta = 5;
var navbarHeight = $('header').outerHeight();

$(window).scroll(function(event){
  didScroll = true;
});

setInterval(function() {
  if (didScroll) {
      hasScrolled();
      didScroll = false;
  }
}, 250);

function hasScrolled() {
  var st = $(this).scrollTop();

  // Make sure they scroll more than delta
  if(Math.abs(lastScrollTop - st) <= delta)
      return;

  // If they scrolled down and are past the navbar, add class .nav-up.
  // This is necessary so you never see what is "behind" the navbar.
  if (st > lastScrollTop && st > navbarHeight){
      // Scroll Down
      $('header').removeClass('nav-down').addClass('nav-up');
  } else {
      // Scroll Up
      if(st + $(window).height() < $(document).height()) {
          $('header').removeClass('nav-up').addClass('nav-down');
      }
  }

  lastScrollTop = st;
}
</script>
